<h1>Names of all of the Stores!</h1>

<%= link_to "New Store", "/stores/new" %>

<% @stores.each do |store| %>
  <%= button_to "Update #{store.name}", "/stores/#{store.id}/edit", method: :get %>
  <h3><%= store.name %></h3>
  <p>Created: <%= store.created_at %></p>
<% end %>