<h1>Stores and Guitars</h1>

<div class="view_info">
  <ul>
    <li><%= link_to "View Stores", "/stores" %></li>
    <li><%= link_to "New Store", "/stores/new" %></li>
    <li><%= link_to "View Guitars", "/guitars" %></li>
    <li><%= link_to "New Guitar", "/guitars/new" %></li>
  </ul>
</div>