/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  background-color: #052F5F;
}

body {
  max-width: 80%;
}

nav {
  padding-top: 1%;
  width: fit-content;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 35px;
}

nav li a {
  color: whitesmoke;
  display: block;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}

nav li a:hover {
  color: goldenrod;
}

.view_info {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 5px;
  border: 2px solid goldenrod
}

.view_info ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.view_info li {
  display: inline-block;
  margin-left: 35px;
}

.view_info li a {
  color: whitesmoke;
  display: block;
  text-align: center;
  padding: 5px 10px;
  text-decoration: none;
}

.view_info li a:hover {
  color: goldenrod;
}
